node_modules
node_modules/
.expo/
android/
ios/
dist/
*.tsbuildinfo
.ondevice/storybook.requires.ts
.storybook/storybook.requires.ts
storybook-static/
.vercel
.lostpixel-ios/
.lostpixel-android/
e2e-results/
ios/
android/
.tamagui/
coverage/
logs/
debug-storybook.log
src/tokens/.figma-raw/
