node_modules/
.expo/
android/
ios/
dist/
*.tsbuildinfo
.ondevice/storybook.requires.ts
storybook-static/
.vercel
.lostpixel/
.lostpixel-ios/
.lostpixel-android/
e2e-results/
ios/
android/
.tamagui/
coverage/
